/* CSS styles for the graduate student portfolio in this directory which is made from html, css, bootstrap, and javascript */

img {
    max-width: 100%;
    height: auto;
}

/*---------------------------------------------*/
/* Navbar */
/*---------------------------------------------*/

nav {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #e6e6e6;
}

